@model IEnumerable<LuuHoangPhi.Models.Person>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="ms-3 btn btn-danger" asp-action="DeleteAll" asp-asp-controller="Person">Xoá tất cả</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @(item.FullName)
        </td>
        <td>
            @(item.Address)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>